/* {
    padding: 0;
    margin: 0;
} */

body{
    background-image: url(../recursos/fondoPrueba.jpg);
    background-repeat: no-repeat;

    color:white;

    background-size: cover;
    background-attachment: fixed;
}

/*            ESTILOS SECCION "Que cenamos" + Login            */

.seccionPrincipal{
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 1.7% 0 2.4% 0;
}

.h1Yh4{
    margin: 0;
    padding: 0.6rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h1Yh4 h1{
    padding-bottom: 0;
    margin-bottom: 0;
}
.h1Yh4 h4{
    font-size: 1.2rem;
}

#h1QueCenamos{
    font-size: 4.3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* Background con logo */
    /* background-image: url(../recursos/fotoLogo.jpg);
    background-size: 25vw;
    background-attachment: fixed;
    border-radius: 11px; */
}

.registroYLogin{
    display: flex;
    justify-content:space-around;

}
.modal-content{
    color: black;
}
.modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btnIngresoDeUsuario{
    background-color: transparent;
    border: none;
    margin: 0 2em;
}
.btnIngresoDeUsuario:hover{
    background-color: transparent;
    text-decoration: underline;
}
/* .btnIngresoDeUsuario:visited{
    border: none;
    background-color: aquamarine;
}
.btnIngresoDeUsuario:active{
    border: none;
    background-image: none;
    background-color: transparent;
} */


/*            ESTILOS DE LAS TABS            */
#myTab{
    padding: 0;
    margin: 0;
    width: 100%;

    display: flex;
    justify-content: center;

    margin: 0 0 2em  0 ;
}

#myTab li button{
    color: white;
}
#myTab li .active {
    color: black;
}
#myTab li button:hover{
    background-color: rgba(155, 65, 0, 0.738);
    /* color: black; */
    /* border: 1px solid white; */
    border-bottom: none;

}

/*            PRIMER TAB            */
table{
    background-color: rgba(0, 0, 0, 0.523);
    color: white !important;
}

table thead tr{
    background-color: rgba(155, 65, 0, 0.854);
}

